.DS_Store
Thumbs.db
*.swp

**/logs/
**/Logs/
*.log
*.log.gz

*.db-shm
*.db-wal
*.sqlite-shm
*.sqlite-wal

**/MediaCover/
**/update/
**/bin/

**/BT_backup/
**/GeoDB/
**/nova3/

**/metadata/
**/Metadata/
**/cache/
**/Cache/
**/transcodes/
**/Transcode/

**/public/images/
