**/config/logs/
**/config/Logs/
**/config/cache/
**/config/Cache/
**/config/Metadata/
**/config/Media/
**/config/Sentry/
**/config/Backups/
**/config/Definitions/
**/cache/**
**/Cache/**
**/Logs/**
**/logs/**
**/Metadata/**
**/Backups/**

*.log
*.log.gz
*.gz
*.json.gz

BT_backup/
queue/

.DS_Store
.Thumbs.db
.Trash-*

# Custom
Sonarr/config/config.xml
Sonarr/config/MediaCover
Sonarr/config/logs

Radarr/config/config.xml
Radarr/config/MediaCover
Radarr/config/logs

Prowlarr/config/config.xml
Overseerr/config/settings.json
